.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 100%;
}

.perfil_container {
	position: relative;
	width: 18.75rem;
	border-radius: 0.313rem;
	box-shadow: 0.063rem 0.125rem 0.25rem #00000040,
		-0.063rem -0.063rem 0.25rem #00000040;
}

.avatar {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	/* height: 11.875rem; */
	height: 6.25rem;
	border-top-right-radius: 0.313rem;
	border-top-left-radius: 0.313rem;
	/* background-color: var(--color-primary); */
	background-image: url('../../assets/login_fondo.svg');
	background-repeat: no-repeat;
	background-position: left;
	background-size: auto 100%;
}

.avatar img {
	width: 6.25rem;
	height: 6.25rem;
	border-radius: 50%;
	z-index: 1;
}

/* .avatar::after {
	content: '';
	position: absolute;
	top: 50%;
	left: 50%;
	width: 10.938rem;
	height: 10.938rem;
	border: 3px solid white;
	border-radius: 50%;
	transform: translateX(-50%) translateY(-50%);
} */

.datos_container {
	padding: 1.25rem 0.938rem;
}

.input_edit {
	width: 100%;
	padding: 0.125rem 0 0.125rem 0.313rem;
	border: none;
	border-radius: 0.313rem;
	border: 0.125rem solid #1e2a7870;
	font-size: 0.875rem;
	color: var(--color-primary);
}

.input_edit:focus {
	outline-color: var(--color-primary);
}

.nombres_container {
	display: flex;
	flex-direction: column;
	margin-bottom: 1.875rem;
}

.input_group_edit {
	display: flex;
	width: 100%;
	margin-bottom: 0.313rem;
}

.input_group_edit .input_edit {
	width: 100%;
}

.nombres_container .input_edit {
	width: 70%;
}

.nombres {
	font-size: 0.938rem;
	color: var(--color-primary);
	opacity: 0.8;
}

.correo {
	color: var(--color-title);
}

.datos {
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin-bottom: 0.313rem;
}

.dato_label,
.dato {
	width: 100%;
	opacity: 0.8;
}

.dato_label {
	color: var(--color-title);
}

.dato {
	font-size: 0.83em;
	font-weight: bold;
	color: var(--color-primary);
}

.btn_editar {
	position: absolute;
	top: 0.313rem;
	right: 0.313rem;
	padding: 0.625rem;
	border: none;
	border-radius: 50%;
	background-color: white;
	transition: all 0.3s ease;
	z-index: 2;
}

.btn_editar:hover {
	box-shadow: 0 0 0.375rem #00000040;
	transform: scale(1.05);
}

.btn_editar:focus {
	outline: none;
}

.btn_editar path {
	fill: var(--color-warning);
}

.btn_pass {
	width: 100%;
	font-size: 0.83em;
	padding: 0.063rem 0;
	opacity: 1;
}

.btns_edit {
	display: flex;
	width: 100%;
	margin-top: 1.25rem;
}

.btn {
	width: 100%;
	margin: 0 0.313rem;
}

.change_pass_container {
	position: relative;
	margin-top: 1.25rem;
	padding: 1.875rem 1.25rem;
	border-radius: 0.313rem;
	box-shadow: 0.063rem 0.063rem 0.25rem #00000040,
		-0.063rem -0.063rem 0.25rem #00000040;
}

.change_pass_form {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.inputGroup {
	display: flex;
	flex-direction: column;
	width: 100%;
}

.input_password_container {
	display: flex;
	align-items: center;
	position: relative;
	margin-bottom: 0.625rem;
}

.icon {
	position: absolute;
	height: 100%;
	top: 0;
	right: 0.625rem;
	cursor: pointer;
}

.icon svg {
	height: 100%;
}

.icon path {
	fill: #1e2a7870;
	transition: all 0.3s ease;
	pointer-events: none;
}

.icon:hover path {
	fill: var(--color-primary);
}

.input {
	width: 100%;
	padding: 0.313rem 0 0.313rem 0.625rem;
	border: none;
	border-radius: 0.313rem;
	color: var(--color-primary);
	background-color: var(--background-secundary);
}

.input:focus {
	outline-color: var(--color-primary);
}

.input::placeholder {
	opacity: 0.6;
}

.btns_change_pass {
	display: flex;
	width: 100%;
	margin-top: 0.625rem;
}

/* 615px*/
@media screen and (min-width: 38.438rem) {
	.container {
		flex-direction: row;
		justify-content: center;
	}

	.change_pass_container {
		margin-left: 1.25rem;
	}
}
