.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 100%;
}

.perfil_container {
	position: relative;
	width: 300px;
	border-radius: 5px;
	box-shadow: 1px 2px 4px #00000040, -1px -1px 4px #00000040;
}

.avatar {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	/* height: 130px; */
	height: 100px;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
	/* background-color: var(--color-primary); */
	background-image: url('../../assets/login_fondo.svg');
	background-repeat: no-repeat;
	background-position: left;
	background-size: auto 100%;
}

.avatar img {
	width: 100px;
	height: 100px;
	border-radius: 50%;
	z-index: 1;
}

/* .avatar::after {
	content: '';
	position: absolute;
	top: 50%;
	left: 50%;
	width: 115px;
	height: 115px;
	border: 3px solid white;
	border-radius: 50%;
	transform: translateX(-50%) translateY(-50%);
} */

.datos_container {
	padding: 20px 15px;
}

.input_edit {
	width: 100%;
	padding: 2px 0 2px 5px;
	border: none;
	border-radius: 5px;
	border: 2px solid #1e2a7870;
	font-size: 14px;
	color: var(--color-primary);
}

.input_edit:focus {
	outline-color: var(--color-primary);
}

.nombres_container {
	display: flex;
	flex-direction: column;
	margin-bottom: 30px;
}

.input_group_edit {
	display: flex;
	width: 100%;
	margin-bottom: 5px;
}

.input_group_edit .input_edit {
	width: 100%;
}

.nombres_container .input_edit {
	width: 70%;
}

.nombres {
	font-size: 15px;
	color: var(--color-primary);
	opacity: 0.8;
}

.correo {
	color: #4a4a4a;
	opacity: 0.7;
}

.datos {
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin-bottom: 5px;
}

.dato_label,
.dato {
	width: 100%;
	opacity: 0.8;
}

.dato_label {
	color: #4a4a4a;
}

.dato {
	font-size: 0.83em;
	font-weight: bold;
	color: var(--color-primary);
}

.btn_editar {
	position: absolute;
	top: 5px;
	right: 5px;
	padding: 10px;
	border: none;
	border-radius: 50%;
	background-color: white;
	/* box-shadow: 1px 2px 4px #00000040, -1px -1px 4px #00000040; */
	transition: all 0.3s ease;
	z-index: 2;
}

.btn_editar:hover {
	box-shadow: 0 0 6px #00000040;
	transform: scale(1.05);
}

.btn_editar:focus {
	outline: none;
}

.btn_editar path {
	fill: #f9aa33;
}

.btn_pass {
	padding: 1px 0;
	border-radius: 5px;
	border: solid 2px #4fa98d;
	color: #4fa98d;
	transition: all 0.3s ease;
	opacity: 1;
}

.btn_pass:focus {
	outline: none;
}

.btn_pass:hover {
	color: #f4f4f4;
	background-color: #4fa98d;
}

.btns_edit {
	display: flex;
	width: 100%;
	margin-top: 20px;
}

.btn_enviar {
	width: 100%;
	margin-right: 5px;
	color: var(--background-primary);
	background-color: #4fa98d;
}

.btn_cancelar {
	width: 100%;
	color: var(--background-primary);
	background-color: var(--color-label);
}

.btn_cancelar:hover,
.btn_enviar:hover {
	transform: scale(1.025);
}

.change_pass_container {
	position: relative;
	margin-top: 20px;
	padding: 30px 20px;
	border-radius: 5px;
	box-shadow: 1px 1px 4px #00000040, -1px -1px 4px #00000040;
}

.change_pass_form {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.inputGroup {
	display: flex;
	flex-direction: column;
	width: 100%;
}

.input_password_container {
	display: flex;
	align-items: center;
	position: relative;
	margin-bottom: 10px;
}

.icon {
	position: absolute;
	height: 100%;
	top: 0;
	right: 10px;
	cursor: pointer;
}

.icon svg {
	height: 100%;
}

.icon path {
	fill: #1e2a7870;
	transition: all 0.3s ease;
	pointer-events: none;
}

.icon:hover path {
	fill: var(--color-primary);
}

.input {
	width: 100%;
	padding: 5px 0 5px 10px;
	border: none;
	border-radius: 5px;
	border: 2px solid #1e2a7870;
	color: var(--color-primary);
}

.input:focus {
	outline-color: var(--color-primary);
}

.btns_change_pass {
	display: flex;
	width: 100%;
	margin-top: 10px;
}

.btn {
	width: 100%;
}

.btn:hover {
	transform: scale(1.025);
}

.btn_change_pass_cancel {
	margin-left: 5px;
	color: var(--background-primary);
	background-color: var(--color-label);
}

@media screen and (min-width: 615px) {
	.container {
		flex-direction: row;
		justify-content: center;
	}

	.change_pass_container {
		margin-left: 20px;
	}
}
