.container {
	position: relative;
	width: 100%;
}

.filters {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	margin: 20px 0;
	padding: 1px 5px;
	overflow: hidden;
}

.result_container {
	width: 100%;
	padding: 5px 0;
}

.result {
	width: 100%;
	padding: 0 10px;
}

.table_container {
	width: 100%;
	overflow-x: auto;
}

.table_container::-webkit-scrollbar {
	-webkit-appearance: none;
}

.table_container::-webkit-scrollbar:horizontal {
	height: 6px;
}

.table_container::-webkit-scrollbar-thumb {
	background-color: #797979;
	border-radius: 5px;
}

.table {
	width: 1280px;
	/* width: 100%; */
	border-collapse: collapse;
	/* margin-left: auto;
	margin-right: auto; */
}

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	min-width: max-content;
	/* margin-bottom: 5px; */
	padding: 4px 0;
	border-radius: 5px;
	color: var(--background-primary);
	background-color: #6f86d6;
}

.title {
	width: 100%;
	text-align: center;
	font-size: 14px;
}

.title:nth-child(1) {
	width: 15%;
}

.title:nth-child(2) {
	width: 50%;
}

.title:nth-child(3),
.title:nth-child(5),
.title:nth-child(6),
.title:nth-child(7) {
	width: 60%;
}

.title:nth-last-child(1) {
	width: 30%;
}

.item {
	position: relative;
	display: flex;
	align-items: center;
	width: 100%;
	padding: 5px 0;
	border-radius: 5px;
	border: thin solid rgba(0, 0, 0, 0.1);
	transition: all 0.5s ease;
}

.data {
	width: 100%;
	height: 100%;
	font-size: 14px;
	text-align: center;
	border-right: thin solid rgba(0, 0, 0, 0.1);
}

.pagination_totals_container {
	display: flex;
	justify-content: space-between;
	width: 100%;
	padding: 0 0 0 10px;
	margin-top: 10px;
}

.pagination_container {
	display: flex;
}

.pagination_item {
	margin: 0 10px;
	opacity: 0.4;
}

.previous_btn,
.next_btn {
	opacity: 0.4;
}

.previous_btn {
	margin-right: 2px;
}

.next_btn {
	margin-left: 2px;
}

.previous_btn path,
.next_btn path {
	fill: var(--color-primary);
}

.pagination_click {
	opacity: 1;
	cursor: pointer;
}

.totals_container {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}

.total_compra_container,
.total_venta_container {
	font-size: 13px;
	font-weight: 600;
	opacity: 0.5;
}

.title_total_compra,
.title_total_venta,
.title_total {
	margin-right: 10px;
}

.total_container {
	font-size: 18px;
	font-weight: 600;
	color: #3d5ccc;
}

@media screen and (min-width: 590px) {
	.totals_container {
		flex-direction: row;
		align-items: center;
	}

	.total_compra_container,
	.total_venta_container {
		margin-right: 20px;
	}
}

@media screen and (min-width: 850px) {
	.total_compra_container,
	.total_venta_container {
		font-size: 16px;
		margin-right: 50px;
	}
	.total_container {
		font-size: 20px;
	}
}

@media screen and (min-width: 1207px) {
	.result {
		width: 100%;
	}
	.pagination_totals_container {
		padding: 0 30px 0 10px;
	}
}
