.container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.totales_diferencia_container {
	display: flex;
	flex-direction: column;
	width: 100%;
	margin-bottom: 1.25rem;
}

.ventas_container,
.compras_container {
	position: relative;
	display: flex;
	align-items: center;
	padding: 0.625rem 0.625rem 0.625rem 1.563rem;
	border-radius: 0.313rem;
	box-shadow: 0.063rem 0.063rem 0.25rem #00000040,
		-0.063rem -0.063rem 0.25rem #00000040;
}

.ventas_container {
	margin-bottom: 0.938rem;
}

.compras_container::after,
.ventas_container::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 0.625rem;
	height: 100%;
	border-radius: 0.313rem 0 0 0.313rem;
}

.ventas_container::after {
	background-color: var(--color-success);
}

.compras_container::after {
	background-color: var(--color-danger);
}

.compras_title_cantidad,
.ventas_title_cantidad {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 25%;
	margin-right: 1.875rem;
}

.compras_title_cantidad::after,
.ventas_title_cantidad::after {
	content: '';
	position: absolute;
	top: 0;
	right: -0.938rem;
	width: 0.063rem;
	height: 100%;
	background-color: var(--color-title);
	opacity: 0.3;
}

.diferencia_title,
.compras_title,
.ventas_title {
	font-size: 0.75rem;
	font-weight: bold;
	text-transform: uppercase;
	color: var(--color-title);
	opacity: 0.7;
}

.compras_title,
.ventas_title {
	position: absolute;
	top: -0.375rem;
	font-size: 0.625rem;
}

.compras_cantidad,
.ventas_cantidad {
	margin-top: 0.313rem;
	font-size: 1.25rem;
	font-weight: bold;
	color: var(--color-secundary);
}

.diferencia_total,
.compras_total,
.ventas_total {
	min-width: max-content;
	font-size: 1.125rem;
	font-weight: bold;
}

.compras_total {
	width: 75%;
	text-align: center;
	color: var(--color-danger);
}

.ventas_total {
	width: 75%;
	text-align: center;
	color: var(--color-success);
}

.diferencia_container {
	display: flex;
	align-items: center;
	justify-content: space-around;
	padding: 0.625rem 0.938rem;
	margin-top: 0.938rem;
	border-radius: 0.313rem;
	box-shadow: 0.063rem 0.063rem 0.25rem #00000040,
		-0.063rem -0.063rem 0.25rem #00000040;
}

.diferencia_title_total {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.diferencia_total {
	margin-top: 0.313rem;
}

.diferencia_mas {
	color: var(--color-success);
}

.diferencia_menos {
	color: var(--color-danger);
}

.diferencia_igaul {
	color: var(--color-title);
}

.diferencia_icon {
	display: flex;
	height: 100%;
}

.productos_container,
.clientes_container {
	display: flex;
	flex-direction: column;
	width: 100%;
	padding: 0.625rem;
	border-radius: 0.313rem;
	box-shadow: 0.063rem 0.063rem 0.25rem #00000040,
		-0.063rem -0.063rem 0.25rem #00000040;
}

.productos_container {
	margin-bottom: 1.25rem;
}

.title {
	font-size: 0.75rem;
	font-weight: bold;
	color: var(--color-secundary);
	opacity: 0.6;
}

.table {
	width: 100%;
	border-collapse: collapse;
}

.table_header {
	display: flex;
	justify-content: space-between;
	min-width: max-content;
	padding: 0 0.313rem;
	margin: 0.625rem 0 0.313rem;
	font-size: 0.875rem;
	border-bottom: thin solid var(--color-title);
	color: var(--color-title);
	opacity: 0.6;
}

.table_header th {
	width: 100%;
	text-align: center;
	opacity: 0.8;
}

.table_header th:nth-child(1),
.table_body td:nth-child(1) {
	text-align: left;
}

.table_header th:nth-last-child(1),
.table_body td:nth-last-child(1) {
	text-align: right;
}

.table_body {
	display: flex;
	justify-content: space-between;
	align-items: center;
	min-width: max-content;
	padding: 0 0.313rem;
	margin-bottom: 0.313rem;
	border-radius: 0.313rem;
	color: var(--color-title);
}

.table_body:nth-child(even) {
	background-color: rgba(222, 227, 227, 0.5);
}

.table_body td {
	width: 100%;
	padding: 0.125rem 0;
	text-align: center;
}

.table_body_null {
	display: flex;
	justify-content: center;
}

.productos_container th:nth-child(2),
.productos_container td:nth-child(2),
.clientes_container th:nth-child(2),
.clientes_container td:nth-child(2) {
	width: 40%;
}

.clientes_container th:nth-child(3),
.clientes_container td:nth-child(3) {
	width: 63%;
	min-width: fit-content;
}

/* 430px */
@media screen and (min-width: 26.875rem) {
	.container {
		flex-direction: row;
		flex-wrap: wrap;
		align-items: center;
		justify-content: center;
	}

	.totales_diferencia_container {
		flex-direction: row;
		align-items: center;
		justify-content: center;
	}

	.ventas_container,
	.compras_container {
		width: 14.375rem;
	}

	.diferencia_container {
		flex-direction: column;
		justify-content: space-around;
		margin-top: 0;
		margin-left: 0.938rem;
	}

	.diferencia_total {
		margin-bottom: 0.938rem;
	}

	.productos_container,
	.clientes_container {
		width: 20rem;
	}

	.diferencia_igaul {
		transform: scale(1.25) translateY(0.438rem);
	}
}

/* 660px */
@media screen and (min-width: 41.25rem) {
	.productos_container,
	.clientes_container {
		width: 18.75rem;
	}

	.productos_container {
		margin-bottom: 0;
		margin-right: 0.625rem;
	}
}

/*  720px */
@media screen and (min-width: 45rem) {
	.productos_container,
	.clientes_container {
		width: 20rem;
	}
}

/* 1120px */
@media screen and (min-width: 70rem) {
	.totales_diferencia_container {
		width: fit-content;
		margin: 0 1.25rem;
		order: 2;
	}

	.productos_container {
		order: 1;
		margin-right: 0;
	}
	.clientes_container {
		order: 3;
	}
}
