.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 100%;
}

.form_container {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 0.938rem;
}

/* 870px */
@media screen and (min-width: 54.375rem) {
	.container {
		flex-direction: row;
	}
}
