.container {
	position: fixed;
	display: flex;
	justify-content: center;
	align-items: center;
	top: 0;
	left: 0;
	width: 100%;
	min-height: 3.125rem;
	box-shadow: 0 0.063rem 0.125rem rgba(0, 0, 0, 0.25);
	z-index: 10;
}

.header {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	max-width: 1366px;
	padding: 0 1rem 0 0.625rem;
	background-color: var(--background-primary);
}

.logo_container {
	display: flex;
	align-items: center;
}

.logo {
	font-size: 1.17em;
	font-weight: bold;
	text-decoration: none;
	color: var(--color-primary);
}

.menu {
	display: flex;
	width: 100%;
	/* flex: 1; */
	order: 2;
	overflow-x: auto;
}

.menu::-webkit-scrollbar {
	-webkit-appearance: none;
}

.menu::-webkit-scrollbar:horizontal {
	height: 0.125rem;
}

.menu::-webkit-scrollbar-thumb {
	border-radius: 0.313rem;
	background-color: #808b9740;
}

.secundary {
	display: flex;
	align-items: center;
}

.separator {
	width: 0.125rem;
	height: 1.875rem;
	margin: 0 0.625rem 0 0.938rem;
	border-radius: 0.313rem;
	background-color: var(--color-title);
	opacity: 0.3;
}

.notifications {
	position: relative;
	display: flex;
	padding: 0 0.125rem;
	align-items: center;
	cursor: pointer;
}

.notifications svg {
	width: 1.25rem;
}

.notifications::after {
	position: absolute;
	content: '';
	display: flex;
	width: 0.625rem;
	height: 0.625rem;
	top: 0.125rem;
	right: 0;
	border-radius: 50%;
	background-color: red;
}

.notifications:hover svg {
	transform-origin: top;
	transform: rotate(10deg);
}

.notificacion_container {
	position: absolute;
	bottom: 0;
	right: 0;
	padding: 0.313rem 0.625rem;
	border-radius: 0.313rem;
	background-color: var(--background-primary);
	box-shadow: 0px 0.125rem 0.25rem #00000040,
		-0.063rem -0.063rem 0.25rem #00000040;
	transform: translateY(calc(100% + 1.25rem));
}

.notificacion_item {
	position: relative;
	min-width: max-content;
	margin: 0;
	margin-bottom: 0.313rem;
	padding: 0.313rem 1.25rem;
	border-radius: 0.313rem;
	color: var(--color-primary);
	cursor: pointer;
	transition: all 0.3s ease;
}

.notificacion_item:not(:nth-last-child(1))::after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 0.125rem;
	border-radius: 0.313rem;
	background-color: var(--color-primary);
	opacity: 0.2;
}

.notificacion_item:hover {
	background-color: rgba(30, 42, 120, 0.1);
}

.notificacion_item:hover::after {
	display: none;
}

.avatar_container {
	display: flex;
	align-items: center;
}

.name {
	margin-right: 0.313rem;
	font-size: 0.875rem;
	font-weight: 800;
	color: var(--color-primary);
}

.avatar {
	width: 2.063rem;
	height: 2.063rem;
	padding: 0.125rem;
	border: 0.125rem solid var(--color-primary);
	border-radius: 50%;
}

.avatar img {
	display: block;
	width: 100%;
	height: 100%;
	border-radius: 50%;
}

.btn_avatar_container {
	position: relative;
}

.btn_avatar {
	height: 100%;
	padding: 0 0.188rem;
	margin-left: 0.313rem;
	cursor: pointer;
	transition: transform 0.3s ease;
}

.btn_avatar:hover svg {
	transform: scale(1.15);
}

.btn_avatar path {
	fill: var(--color-primary);
}

.profile_container {
	position: absolute;
	bottom: -5px;
	right: 0;
	padding: 0.313rem;
	border-radius: 0.313rem 0 0.313rem 0.313rem;
	background-color: var(--background-primary);
	box-shadow: 0px 0.125rem 0.25rem #00000040,
		-0.063rem -0.063rem 0.25rem #00000040;
	transform: translateY(calc(100% + 1.25rem));
}

.profile_container::after {
	content: '';
	position: absolute;
	top: -0.438rem;
	right: 0;
	height: 0.5rem;
	width: 0.938rem;
	clip-path: polygon(50% 0%, 0 100%, 100% 100%);
	background-color: var(--background-primary);
}

.profile_container::before {
	content: '';
	position: absolute;
	top: -0.563rem;
	right: 0;
	height: 0.5rem;
	width: 0.969rem;
	clip-path: polygon(50% 0%, 0 100%, 100% 100%);
	background-color: var(--color-title);
	opacity: 0.2;
	z-index: -1;
}

.profile_menu,
.notificacion_menu {
	list-style: none;
}

.profile_item {
	display: flex;
	align-items: center;
	min-width: max-content;
	margin: 0;
	padding: 0 1.25rem;
	border-radius: 0.313rem;
	color: var(--color-primary);
	cursor: pointer;
	transition: box-shadow 0.3s ease;
}

.profile_item:not(:nth-last-child(1)) {
	margin-bottom: 2.5px;
}

.profile_item:hover,
.notificacion_item:hover {
	box-shadow: 0px 0.063rem 0.125rem #00000040, 0 -0.063rem 0.125rem #00000040;
}

.profile_item_icon {
	margin-right: 15px;
	opacity: 0.8;
}

@media screen and (min-width: 38.75rem) {
	.menu {
		justify-content: center;
	}
}

/* 1020 px */
@media screen and (min-width: 63.75rem) {
	.menu {
		width: fit-content;
		/* flex: none; */
		order: 0;
		flex-basis: initial;
	}
}
