.inputGroup {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 0.938rem;
}

.label {
	width: 40%;
	color: var(--color-label);
}

.input,
.input_select,
.file_container,
.radio_container {
	width: 60%;
	padding: 0.313rem 0 0.313rem 0.625rem;
	border: none;
	border-radius: 0.313rem;
	background-color: var(--background-secundary);
}

.input:focus,
.input_select:focus {
	outline-color: var(--color-primary);
}

.input::placeholder {
	opacity: 0.6;
}

.select_container {
	position: relative;
	display: flex;
	align-items: center;
	width: 60%;
	transition: all 0.3s ease;
}

.select_container.showSelectError {
	margin-top: 0.625rem;
}

.select_error {
	position: absolute;
	display: none;
	left: 0.625rem;
	top: -1.125rem;
	font-size: 0.75rem;
	font-weight: 600;
	color: var(--color-danger);
	opacity: 0.7;
}

.select_container.showSelectError .select_error {
	display: inline;
}

.input_select {
	width: 90%;
	color: var(--color-primary);
}

.btn_add,
.btn_delete {
	position: relative;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	margin-left: 0.625rem;
	border: none;
	border-radius: 50%;
}

.btn_delete {
	margin-left: 0.313rem;
}

.btn_add path {
	fill: var(--color-primary);
}

.btn_delete path {
	fill: var(--color-danger);
}

.file_container {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.file_name {
	min-width: fit-content;
}

.btn_file_container {
	position: relative;
	overflow: hidden;
	margin-left: 0.125rem;
}

.input_file {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	text-indent: -625rem;
	opacity: 0;
	cursor: pointer;
}

.btn_file {
	padding: 0.125rem 0.313rem;
	border: none;
	border-radius: 0.188rem;
	border: 0.125rem solid var(--color-primary);
	font-size: 0.938rem;
	color: var(--background-primary);
	background-color: var(--color-primary);
	cursor: pointer;
	transition: all 0.3s ease;
}

.input_file:hover + .btn_file {
	color: var(--color-primary);
	background-color: var(--background-primary);
}

.radio_container {
	display: flex;
	align-items: center;
	background-color: var(--background-primary);
}

.radio_item {
	display: flex;
	align-items: center;
}

.radio_item:not(:nth-last-child(1)) {
	margin-right: 0.938rem;
}

.radio_input {
	display: none;
}

.radio_label {
	position: relative;
	padding-left: 1.25rem;
	font-size: 0.938rem;
	font-weight: bold;
	color: var(--color-primary);
	opacity: 0.4;
}

.radio_label::before {
	position: absolute;
	display: inline-block;
	content: '';
	top: 50%;
	left: 0;
	height: 0.75rem;
	width: 0.75rem;
	border-radius: 0.125rem;
	background-color: var(--color-primary);
	font-family: 'Font Awesome 5 Free';
	transform: translateY(-50%);
}

.radio_input:checked + .radio_label {
	opacity: 1;
}

.radio_input:checked + .radio_label::before {
	content: '\f14a';
	top: 0;
	height: 0;
	width: 0;
}

.input[type='date']::-webkit-calendar-picker-indicator {
	cursor: pointer;
}
