.container {
	position: relative;
	width: 100%;
}

.filters {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	margin: 20px 0;
	padding: 1px 5px;
	overflow: hidden;
}

.result_container {
	width: 100%;
	/* overflow-x: auto; */
	padding: 5px 0;
}

/* .result_container::-webkit-scrollbar {
	-webkit-appearance: none;
}

.result_container::-webkit-scrollbar:horizontal {
	height: 6px;
}

.result_container::-webkit-scrollbar-thumb {
	background-color: #797979;
	border-radius: 5px;
} */

.result {
	/* width: 1280px; */
	padding: 0 10px;
	/* width: 980px; */
}

.table {
	width: 100%;
	border-collapse: collapse;
	/* margin-left: auto;
	margin-right: auto; */
}

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	min-width: max-content;
	/* margin-bottom: 5px; */
	padding: 4px 0;
	border-radius: 5px;
	color: var(--background-primary);
	background-color: #6f86d6;
}

.title {
	width: 100%;
	/* height: 100%; */
	text-align: center;
	font-size: 14px;
}

.item {
	position: relative;
	display: flex;
	align-items: center;
	width: 100%;
	padding: 5px 0;
	border-radius: 5px;
	border: thin solid rgba(0, 0, 0, 0.1);
	transition: all 0.5s ease;
}

.data {
	width: 100%;
	height: 100%;
	font-size: 14px;
	text-align: center;
	border-right: thin solid rgba(0, 0, 0, 0.1);
}

.item {
	position: relative;
	display: flex;
	align-items: center;
	width: 100%;
	padding: 5px 0;
	/* margin-top: 10px; */
	border-radius: 5px;
	/* box-shadow: 1px 1px 4px #00000040; */
	border: thin solid rgba(0, 0, 0, 0.1);
	transition: all 0.5s ease;
}

.item:hover {
	transform: scale(1.014);
	transform-origin: center;
}

.data {
	width: 100%;
	height: 100%;
	/* padding: 5px 0; */
	font-size: 14px;
	text-align: center;
	border-right: thin solid rgba(0, 0, 0, 0.1);
}

.data_warning,
.data_danger {
	position: relative;
	color: white;
}

.data_warning::after,
.data_danger::after {
	content: '';
	position: absolute;
	width: 30%;
	height: 100%;
	left: 50%;
	top: 0;
	border-radius: 5px;
	transform: translateX(-50%);
	z-index: -1;
}

.data_warning::after {
	background-color: #f9aa33;
}

.data_danger::after {
	background-color: #d32f2f;
}

/* .data:nth-last-child(1) {
	border-right: none;
} */

.title_btn,
.btn_container {
	width: 10%;
	margin: 0 10px;
}

.btn_container {
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
}

.btn {
	border: none;
	outline: none;
}

.btn svg {
	font-size: 18px;
	pointer-events: none;
}

.btn path {
	fill: var(--color-primary);
}

.disabled {
	pointer-events: none;
}

.disabled path {
	fill: #cdd5d5;
}

@media screen and (min-width: 780px) {
	.container {
		width: 400px;
		margin-left: 20px;
	}
}
