.container {
	position: relative;
	width: 100%;
}

.filters {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	margin: 1.25rem 0;
	padding: 0.063rem 0.313rem;
	overflow: hidden;
}

.result_container {
	width: 100%;
	/* overflow-x: auto; */
	padding: 0.313rem 0;
}

/* .result_container::-webkit-scrollbar {
	-webkit-appearance: none;
}

.result_container::-webkit-scrollbar:horizontal {
	height: 6px;
}

.result_container::-webkit-scrollbar-thumb {
	background-color: var(--color-title);
	border-radius: 0.313rem;
} */

.result {
	padding: 0 0.625rem;
}

.table {
	width: 100%;
	border-collapse: collapse;
}

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	min-width: max-content;
	padding: 0.25rem 0;
	border-radius: 0.313rem;
	color: var(--background-primary);
	background-color: var(--color-secundary);
}

.title {
	width: 100%;
	text-align: center;
	font-size: 0.875rem;
}

.item {
	position: relative;
	display: flex;
	align-items: center;
	width: 100%;
	padding: 0.313rem 0;
	border-radius: 0.313rem;
	border: thin solid rgba(0, 0, 0, 0.1);
	transition: all 0.5s ease;
}

.item:hover {
	transform: scale(1.014);
	transform-origin: center;
}

.data {
	width: 100%;
	height: 100%;
	font-size: 0.875rem;
	text-align: center;
	border-right: thin solid rgba(0, 0, 0, 0.1);
}

.title:nth-child(2),
.data:nth-child(2) {
	width: 80%;
}

.title:nth-child(3),
.data:nth-child(3) {
	width: 50%;
}

.title:nth-child(4),
.data:nth-child(4) {
	width: 35%;
}

.data_warning,
.data_danger {
	position: relative;
	color: white;
}

.data_warning::after,
.data_danger::after {
	content: '';
	position: absolute;
	width: 50%;
	height: 100%;
	left: 50%;
	top: 0;
	border-radius: 0.313rem;
	transform: translateX(-50%);
	z-index: -1;
}

.data_warning::after {
	background-color: var(--color-warning);
}

.data_danger::after {
	background-color: var(--color-danger);
}

.title_btn,
.btn_container {
	width: 15%;
	margin: 0 0.625rem;
}

.btn_container {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 10%;
	cursor: pointer;
}

.btn {
	border: none;
	outline: none;
}

.btn svg {
	font-size: 1.125rem;
	pointer-events: none;
}

.btn path {
	fill: var(--color-primary);
}

.disabled {
	pointer-events: none;
}

.disabled path {
	fill: var(--color-disabled);
}

/* 870px */
@media screen and (min-width: 54.375rem) {
	.container {
		margin-left: 1.25rem;
	}
}

/* 920px */
@media screen and (min-width: 57.5rem) {
	.container {
		width: 500px;
	}
}
