.container {
	position: absolute;
	display: flex;
	justify-content: center;
	width: 100%;
	z-index: 3;
}

.eliminar_container {
	padding: 0.938rem 1.25rem;
	border-radius: 0.313rem;
	background-color: var(--background-primary);
	box-shadow: 0.063rem 0.063rem 0.25rem rgba(0, 0, 0, 0.4);
}

.message {
	text-align: center;
	margin-bottom: 0.625rem;
	color: var(--color-primary);
}

.btns_container {
	display: flex;
	justify-content: center;
	align-items: center;
}

.btn {
	margin: 0 0.156rem;
}
