.error_container,
.message_success_container {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	top: 90px;
	right: 30px;
	width: max-content;
	padding: 5px 20px;
	border-radius: 5px;
	background-color: white;
	box-shadow: 0 3px 4px #00000040, 0px -1px 4px #00000040;
	opacity: 0;
	animation: fadein 0.5s forwards, fadeout 0.5s 4s forwards;
}

.error_container {
	color: white;
	background-color: rgba(211, 47, 47, 0.8);
}

.message_success_container {
	color: white;
	background-color: rgba(79, 169, 141, 0.8);
}

@keyframes fadein {
	to {
		opacity: 1;
		transform: translateY(10px);
	}
}

@keyframes fadeout {
	to {
		transform: translateY(-10px);
		opacity: 0;
	}
}

@media screen and (min-width: 1020px) {
	.error_container,
	.message_success_container {
		top: 50px;
	}
}
